<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant.id)  %> | <%= restaurant.address %> | <%= restaurant.phone_number %> | food type: <%= restaurant.category %></li>
<% end %>

<%= link_to "Add new restaurant", restaurants_path  %>
